.container {
  display: flex;
  padding-bottom: 50px;
}

.title {
  font-size: 62px;
  background: -webkit-linear-gradient(#dca7ff, #3f5cff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-right: 125px;
  max-width: 360px;
}

.transactionHistory {
  width: 500px;
  border-radius: var(--borderWidth);
  --borderWidth: 5px;
  background: hsl(0, 0%, 100%);
  position: relative;
}

.transactionHistory:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

th,
td {
  border: 2px solid midnightblue;
  text-align: center;
}

th {
  background-color: #dca7ff;
  font-weight: bold;
  font-size: 20px;
  color: black;
}

.item {
  font-size: 16px;
}

.item:nth-of-type(even) {
  background-color: #8698ff;
}
